body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
}

.container {
  text-align: center;
  padding: 50px;
}

.title {
  color: #2563eb;
}

.signup-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  padding: 10px 15px;
  border: none;
  border-radius: 5px;

  background-color: #2563eb;
  color: white;

  cursor: pointer;
}

.signup-page {
  min-height: 100vh;
  background-color: #f5f7fb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 400px;
  background: white;

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.signup-card h1 {
  color: #2563eb;
  margin-bottom: 25px;
}

.signup-card input {
  width: 90%;
  padding: 12px;

  border: 1px solid #d1d5db;

  border-radius: 8px;

  margin-top: 8px;
}

.submit-btn {
  width: 100%;
  padding: 12px;

  background-color: #2563eb;

  color: white;

  border: none;

  border-radius: 8px;

  font-size: 16px;

  cursor: pointer;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}
