.navbar{

    height:75px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 50px;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);

    position:sticky;

    top:0;

}

.logo{

    font-size:24px;

    font-weight:bold;

    color:#2563eb;

}

.nav-links{

    display:flex;

    gap:30px;

}

.nav-links button{

    background:none;

    border:none;

    font-size:17px;

    cursor:pointer;

}

.nav-links button:hover{

    color:#2563eb;

}

.signup-nav-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 22px;

    border-radius:6px;

    cursor:pointer;

}

.signup-nav-btn:hover{

    background:#1d4ed8;

}

/* ================= HOME PAGE ================= */

.home{

    padding:40px;

}

.hero{

    text-align:center;

    margin-top:30px;

}

.hero h1{

    color:#2563eb;

    font-size:45px;

}

.hero h2{

    color:#444;

    margin-bottom:20px;

}

.hero p{

    max-width:800px;

    margin:auto;

    line-height:1.7;

    color:#555;

    font-size:18px;

}

.hero-btn{

    margin-top:30px;

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:8px;

    font-size:17px;

    cursor:pointer;

}

.hero-btn:hover{

    background:#1d4ed8;

}

.features{

    margin-top:70px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}

.feature-card{

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.feature-card:hover{

    transform:translateY(-5px);

}

.feature-card h3{

    color:#2563eb;

}

.workflow{

    margin-top:70px;

    text-align:center;

}

.workflow h2{

    color:#2563eb;

}

.workflow-box{

    margin-top:30px;

    background:white;

    display:inline-block;

    padding:30px 70px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    line-height:2.2;

    font-weight:bold;

}

.workflow-box span{

    color:#2563eb;

    font-size:22px;

}