.loader-container{
    margin:40px auto;
    text-align:center;
}

.spinner{
    width:70px;
    height:70px;
    margin:auto;
    border:8px solid #dbeafe;
    border-top:8px solid #2563eb;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

.loader-container h3{
    margin-top:20px;
    color:#2563eb;
}

.loader-container p{
    color:#666;
    margin-top:10px;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}