.profile-page{

    min-height:100vh;

    background:linear-gradient(
        135deg,
        #020617,
        #0F172A,
        #1E293B,
        #2563EB
    );

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.profile-card{

    width:420px;

    background:#1E293B;

    border:1px solid #334155;

    border-radius:22px;

    padding:45px;

    text-align:center;

    box-shadow:0 20px 45px rgba(0,0,0,.45);

}

.profile-avatar{

    width:110px;

    height:110px;

    border-radius:50%;

    margin:0 auto 25px;

    background:linear-gradient(
        135deg,
        #2563EB,
        #60A5FA
    );

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:42px;

    font-weight:bold;

}

.profile-name{

    color:white;

    font-size:28px;

    font-weight:bold;

    margin-bottom:12px;

}

.profile-email{

    color:#CBD5E1;

    font-size:17px;

    margin-bottom:25px;

}

.profile-card h1{

    color:#2563EB;

    margin-bottom:25px;

}

.profile-card p{

    margin:15px 0;

}

.profile-note{

    color:#94A3B8;

    margin-top:30px;

}

/* Login Button */

.profile-login-btn{

    margin-top:20px;

    padding:12px 30px;

    border:none;

    border-radius:12px;

    background:linear-gradient(
        135deg,
        #2563EB,
        #3B82F6
    );

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s ease;

}

.profile-login-btn:hover{

    transform:translateY(-2px);

    background:linear-gradient(
        135deg,
        #1D4ED8,
        #2563EB
    );

    box-shadow:0 8px 20px rgba(37,99,235,.35);

}