.settings-dropdown{
    position: fixed;

    top: 78px;

    right: 35px;

    width: 220px;

    background: #1E293B;

    border: 1px solid #334155;

    border-radius: 14px;

    box-shadow: 0 18px 40px rgba(0,0,0,.35);

    overflow: hidden;

    z-index: 9999;

    animation: fadeDown .25s ease;
}

.dropdown-item{

    display:flex;

    align-items:center;

    gap:10px;

    padding:12px 18px;

    color:white;

    text-decoration:none;

    border-radius:10px;

    transition:.3s;

}

.dropdown-item:hover{

    background:#334155;

}

.logout{

    width:100%;

    background:none;

    border:none;

    text-align:left;

    cursor:pointer;

    font-size:15px;

    color:#EF4444;

    padding:12px 18px;

    border-radius:10px;

    transition:.3s;

    display:flex;

    align-items:center;

    gap:10px;

    font-family:inherit;

}

.logout:hover{

    background:rgba(239,68,68,.15);

    color:#FF6B6B;

    transform:translateX(4px);

}

.dropdown-divider{

    height:1px;

    background:#334155;

}

@keyframes fadeDown{

from{

opacity:0;

transform:translateY(-10px);

}

to{

opacity:1;

transform:translateY(0);

}

}