/* ================= SIGNUP PAGE ================= */

.signup-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #020617,
        #0F172A,
        #1E3A8A,
        #2563EB
    );

    padding:40px;

}

.signup-card{

    width:430px;

    background:rgba(30,41,59,.82);

    backdrop-filter:blur(18px);

    color:white;

    padding:45px;

    border-radius:22px;

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
        0 20px 45px rgba(0,0,0,.45);

    transition:.35s;

}

.signup-card:hover{

    transform:translateY(-6px);

    box-shadow:
        0 25px 55px rgba(37,99,235,.35);

}

.signup-card h1{

    text-align:center;

    font-size:38px;

    color:#60A5FA;

    margin-bottom:15px;

}

.signup-card p{

    text-align:center;

    color:#CBD5E1;

    margin-bottom:30px;

    line-height:1.7;

}

.input-group{

    margin-bottom:22px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    color:#E2E8F0;

    font-weight:600;

}

.input-group input{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:1px solid #334155;

    background:#0F172A;

    color:white;

    font-size:16px;

    transition:.3s;

    box-sizing:border-box;

}

.input-group input::placeholder{

    color:#94A3B8;

}

.input-group input:focus{

    outline:none;

    border-color:#3B82F6;

    box-shadow:0 0 15px rgba(59,130,246,.35);

}

.signup-submit{

    width:100%;

    margin-top:25px;

    padding:15px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

    background:linear-gradient(
        90deg,
        #2563EB,
        #3B82F6
    );

    color:white;

    transition:.35s;

}

.signup-submit:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 30px rgba(37,99,235,.45);

}

.login-link{

    margin-top:28px;

    text-align:center;

    color:#CBD5E1;

    font-size:15px;

}

.login-link a{

    color:#60A5FA;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.login-link a:hover{

    color:white;

}
